@charset "utf-8";

p { margin: 8px; }
p + p { margin-top: 0; }

button {
  display: inline;
  border-radius: 2px;
  height: 32px;
  padding: 0 8px;
  font: 400 13px
    "Segoe UI", "San Francisco", "Ubuntu", "Fira Sans", "Roboto", sans-serif;
  min-width: 132px;
  width: auto;
  text-align: center;
  border: none;
  cursor: pointer;
  color: rgb(12, 12, 13);
  background: rgba(12, 12, 13, 0.10);
}
button:hover { background: rgba(12, 12, 13, 0.20); }
button:active { background: rgba(12, 12, 13, 0.30); }

/*
button:focus {
  box-shadow:
    0 0 2px rgb(10, 132, 255) inset,
    0 0 3px rgba(10, 132, 255, 0.30);
}
*/

button:disabled,
button:disabled:hover,
button:disabled:active,
button:disabled:focus {
  cursor: default;
  opacity: 0.40;
  background: rgba(12, 12, 13, 0.10);
  box-shadow: none;
}
